<%= form_for @profile, url: user_profile_path, html: { multipart: true } do |f| %>
    
    <div class="text-center">
        <h2><%= @user.profile.first_name %> <%= @user.profile.last_name %></h2>
        <br />
        <%= image_tag @user.profile.avatar.url, class:'img-circle' %>
    </div>
    
    <hr />
    
    <h3 class="form-group text-center">MODIFY PROFILE</h3>
    
    <br />
    
    <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class:'form-control', placeholder:'First Name' %>
    </div>
        
    <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class:'form-control', placeholder:'Last Name' %>
    </div><b />
    
    <div class="form-group">
        <%= f.label :avatar %>
        <%= f.file_field :avatar, class:'form-control', placeholder:'Avatar' %>
    </div><b />
    
    <div class="form-group">
        <%= f.label :location %>
        <%= f.text_field :location, class:'form-control', placeholder:'Location' %>
    </div><b />
    
    <div class="form-group">
        <%= f.label :modifications %>
        <%= f.number_field :modifications, class:'form-control', placeholder:'Modifications' %>
    </div><b />
    
    <!--<div class="form-group">-->
    <!--    <%= f.label :modification %>-->
    <!--    <%= f.file_field :modification, class:'form-control' %>-->
    <!--</div>-->
    <div class="form-group">
        <%= f.label :website %>
        <%= f.url_field :website, class:'form-control', placeholder:'Website' %>
    </div><b />
    
    <div class="form-group">
        <%= f.label :bio %>
        <%= f.text_area :bio, class:'form-control', placeholder:'One Liner' %>
    </div><b />
    
    <div class="actions form-group text-center">
        <%= f.submit 'UPDATE PROFILE', class:'btn btn-primary btn-lg btn-block text-center' %>
    </div>
<% end %>
