<% if @user.plan_id == 1 %>
    <span class="label label-info">CONTRIBUTOR</span>
<% elsif @user.plan_id == 2 %>
    <span class="label label-warning">ELITE CONTRIBUTOR</span>
<% elsif @user.plan_id == 3 %>
    <span class="label label-info">TECHNICIAN</span>
<% elsif @user.plan_id == 4 %>
    <span class="label label-warning">ELITE TECHNICIAN</span>
<% elsif @user.plan_id == 5 %>
    <span class="label label-info">CENTER</span>
<% elsif @user.plan_id == 6 %>
    <span class="label label-warning">ELITE CENTER</span>
<% elsif @user.plan_id == 7 %>
    <span class="label label-info">AFFAIR</span>   
<% elsif @user.plan_id == 8 %>
    <span class="label label-warning">ELITE AFFAIR</span>
<% end %>