<!--Title-->
<% provide(:title, 'Edit Profile') %>

<!--Header-->

<!--Body-->
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <div class="page-header text-center">
                <%= render 'shared/logo' %>
            </div>
            
            <%= render 'form' %>
        </div>
    </div>
</div>