<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well text-center">
            <h1 class="text-center">Create Your MUTO</h1>
        </div>
        
        <div class="well">
            <%= render 'form' %>
        </div>
    </div>
</div>