<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <%= hidden_field_tag 'plan', params[:plan] %>
    
    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>
    
    <div class="field form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
    </div>
    
    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control' %>
    </div>
    
    <hr>
    
    <div class="text-center">
      <%= link_to image_tag("stripe-badge.png", alt: "Powered by STRIPE"), 'https://www.stripe.com', class: 'btn btn-link' %>
    </div>
    
    <br>
    
    <div class="form-group">
      <%= label_tag :card_number, "Credit Card Number" %>
      <%= text_field_tag :card_number, nil, name: nil, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= label_tag :card_code, "Secuirty Code (CVV)" %>
      <%= text_field_tag :card_code, nil, name:nil, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
    </div>
    
    <hr>
          
    <div class="actions text-center">
      <%= f.submit " REGISTER ", class:'btn btn-lg btn-success', id:'form-submit-btn' %>
    </div>
<% end %>