<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'technician_form'}) do |f| %>
    <%= devise_error_messages! %>
    
    <%= hidden_field_tag 'plan', params[:plan] %>
    
    <div class="field form-group">
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder:'Email' %>
    </div>
    
    <div class="field form-group text-center">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class:'form-control', placeholder:'Password' %>
    </div>
    
    </br>
    
    <div class="field form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control', placeholder:'Password Confirmation' %>
    </div>
    
    <br>
          
    <div class="actions text-center">
      <%= f.submit " REGISTER ", class:'btn btn-lg btn-success' %>
    </div>
<% end %>