<!--Title-->
<% provide(:title, 'Settings') %>

<!--Header-->
<div class="row">
  <div class="jumbotron text-center">
    <h3 class="form-group">MODIFY</h3>
    <h2 class="form-group">ACCOUNT</h2>
    <h3><%= @user.profile.first_name %> <%= @user.profile.last_name %></h3>
  </div>
</div>

<!--Body-->
<div class="row">
  <!--Basic Account Settings-->
  <div class="col-md-5">
    <div class="panel panel-default">
      <br />
      <h4 class="form-group text-center">INFORMATION</h4>
      <hr />
      <br />
      
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
        
          <div class="field form-group">
            <%= f.email_field :email, autofocus: true, class:'form-control', placeholder:'Email' %>
          </div>
        
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        
          <div class="field form-group text-center">
            <i>(Leave Blank If You Don't Want To Change It)</i><br />
            <%= f.password_field :password, autocomplete: "off", class:'form-control', placeholder:'Password' %>
          </div><br />
        
          <div class="field form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control', placeholder:'Password Confirmation' %>
          </div>
        
          <div class="field form-group text-center">
            <i>(Verify Password to Confirm Changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off", class:'form-control', placeholder:'Current Password' %>
          </div><br />
        
          <div class="actions form-group text-center">
            <%= f.submit "SAVE CHANGES", class:'btn btn-primary text-center' %>
          </div>
        <% end %>
        
    </div>
  </div>
  
  <!--User Account Verification-->
  <div class="col-md-2">
    <div class="panel panel-default">
      
      <div class="text-center">
        <%= image_tag @user.profile.avatar.url, class:'img-circle' %>
        <h6><%= render 'users/plans' %></h6>
        <br />
      </div>
      
      <div class="text-center">
        <%= render 'shared/logo' %>
      </div>
      
    </div>
  </div>
  
  <!--Advanced Account Settings-->
  <div class="col-md-5">
    <div class="panel panel-default">
      <br />
      <h4 class="form-group text-center">ADVANCED</h4>
      <hr />
      <ul class="nav">
        <% if user_signed_in? %>
          <br />
          <% if current_user.profile %>
            <%= link_to "MODIFY PROFILE", edit_user_profile_path(current_user), class:'btn btn-warning btn-block btn-lg' %>
            <br><br>
            <li><%= link_to "CHANGE BILLING", "#", class:'btn btn-info btn-block btn-lg' %> </li>
            <br><br>
            <li><%= link_to "CHANGE MEMBERSHIP", "#", class:'btn btn-info btn-block btn-lg' %></li>
            <br><br>
            <h5 class="text-center">CONNECTED ACCOUNTS</h5>
            <hr />
            <div class="text-center">
              <%= link_to "", @user.profile.website, class:'btn fa fa-user'%>
              <%= link_to "", "#", class:'btn-lg fa fa-twitter' %>
              <%= link_to "", "#", class:'btn-lg fa fa-facebook' %>
              <%= link_to "", "#", class:'btn-lg fa fa-pinterest-p' %>
              <%= link_to "", "#", class:'btn-lg fa fa-snapchat' %>
            </div>
          <% else %>
            <li><%= link_to "CREATE PROFILE", new_user_profile_path(current_user), class:'btn btn-warning btn-lg btn-block' %></li>
            <br><br>
            <li><%= link_to "CHANGE BILLING", "#", class:'btn btn-info btn-block btn-lg' %> </li>
            <br><br>
            <li><%= link_to "CHANGE MEMBERSHIP", "#", class:'btn btn-info btn-block btn-lg' %></li>
            <br><br>
            <li><%= link_to "CONNECTED ACCOUNTS", "#", class:'btn btn-info btn-block btn-lg' %></li>
          <% end %>
          <br />
        <% end %>
      </ul>
      
    </div>
  </div>
</div>

<div class="row">
  <!--Terminate Account-->
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel">
      <h3 class="form-group text-center">TERMINATE</h3>
      <h4 class="text-center">CAUTION!</h4>
      <h5 class="text-center"> This action cannot be undone. <br> Terminate your MUTO Account below.</h5>
      <br>
        
      <div class="form-group text-center">
        <%= link_to "TERMINATE MUTO ACCOUNT", registration_path(resource_name), class:'btn btn-danger btn-md', data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
        
    </div>
  </div>
</div>