<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      
      <div class="page-header text-center">
        <<%= render 'shared/logo' %>

        <hr>
        
        <% if params[:plan] == '1' %>
            <h2>CONTRIBUTOR</h2>
            <br>
            <h4>BODY MODIFICATION CLIENT</h4>
            <h3>FREE</h3>
        <% elsif params[:plan] == '2' %>
            <h2>ELITE CONTRIBUTOR</h2>
            <br>
            <h4>BODY MODIFICATION CLIENT</h4>
            <h3>$1 (month)</h3>
        <% elsif params[:plan] == '3' %>
            <h2>TECHNICIAN</h2>
            <br>
            <h4>BODY MODIFICATION PROFESSIONAL</h4>
            <h3>FREE</h3>
        <% elsif params[:plan] == '4' %>
            <h2>ELITE TECHNICIAN</h2>
            <br>
            <h4>BODY MODIFICATION PROFESSIONAL</h4>
            <h3>$6 (month)</h3>
        <% elsif params[:plan] == '5' %>
            <h2>CENTER</h2>
            <br>
            <h4>BODY MODIFICATION BUSINESS</h4>
            <h3>FREE</h3>
        <% elsif params[:plan] == '6' %>
            <h2>ELITE CENTER</h2>
            <br>
            <h4>BODY MODIFICATION BUSINESS</h4>
            <h3>$23 (month)</h3>
        <% elsif params[:plan] == '7' %>
            <h2>AFFAIR</h2>
            <br>
            <h4>BODY MODIFICATION EVENT</h4>
            <h3>FREE</h3>
        <% elsif params[:plan] == '8' %>
            <h2>ELITE AFFAIR</h2>
            <br>
            <h4>BODY MODIFICATION EVENT</h4>
            <h3>$49 (annual)</h3>
        <% end %>
        
      </div>
      
        <% if params[:plan] == '1' %>
          <%= render "contributor_form" %>
        <% elsif params[:plan] == '2' %>
          <%= render "elitecontributor_form" %>
        <% elsif params[:plan] == '3' %>
          <%= render "technician_form" %>
        <% elsif params[:plan] == '4' %>
          <%= render "elitetechnician_form" %>
        <% elsif params[:plan] == '5' %>
          <%= render "center_form" %>
        <% elsif params[:plan] == '6' %>
          <%= render "elitecenter_form" %>
        <% elsif params[:plan] == '7' %>
          <%= render "affair_form" %>
        <% elsif params[:plan] == '8' %>
          <%= render "eliteaffair_form" %>
        <% end %>
      
      <hr>
      
      <div class="text-center">
        <a><%= link_to 'MUTO Membership Plans', home_path, class: 'btn btn btn-info' %></a>
      </div>
      
      <div class="text-right">
        <%= render "devise/shared/links" %>
      </div>
    
    </div>
  </div>
</div>