<!--Modification Styles-->
<div class="row text-center">
       
    <!--Styles-->
    <%= render 'modifications/styles' %>
    
    <!--Uploader-->
    <div class="col-lg-4">
        <a><%= link_to "CONTRIBUTE", new_modification_path, class:'btn btn-info btn-lg btn-block' %></a>
    </div>
    
    <!--Random Content-->
    <div class="col-lg-4">
        <a><%= link_to "RANDOM", modifications_path, class:'btn btn-lg btn-block' %></a>
    </div>
</div>

<hr />

<div class="row text-center">
    
    <div class="col-md-3">
        <%= link_to modifications_path do %>
            <%= image_tag ("tattoos.jpg"),  class:'modification-style-img' %>
            <div class="modification-style-caption">
                <h4>TATTOOS</h4>
            </div>
        <% end %>
    </div>
    
    <div class="col-md-3">
        <%= link_to modifications_path do %>
            <%= image_tag ("tattoos.jpg"), class:'modification-style-img' %>
            <div class="modification-style-caption">
                <h4>PIERCING</h4>
            </div>
        <% end %>
    </div>
    
    <div class="col-md-3">
        <%= link_to modifications_path do %>
            <%= image_tag ("tattoos.jpg"), class:'modification-style-img' %>
            <div class="modification-style-caption">
                <h4>AUGMENTATION</h4>
            </div>
        <% end %>
    </div>
    
    <div class="col-md-3">
        <%= link_to modifications_path do %>
            <%= image_tag ("tattoos.jpg"), class:'modification-style-img' %>
            <div class="modification-style-caption">
                <h4>COSMETIC</h4>
            </div>
        <% end %>
    </div>
    
    <div class="col-md-3">
        <%= link_to modifications_path do %>
            <%= image_tag ("tattoos.jpg"), class:'modification-style-img' %>
            <div class="modification-style-caption">
                <h4>STRETCHING</h4>
            </div>
        <% end %>
    </div>
    
    <div class="col-md-3">
        <%= link_to modifications_path do %>
            <%= image_tag ("tattoos.jpg"), class:'modification-style-img' %>
            <div class="modification-style-caption">
                <h4>LASER</h4>
            </div>
        <% end %>
    </div>
    
    <div class="col-md-3">
        <%= link_to modifications_path do %>
            <%= image_tag ("tattoos.jpg"), class:'modification-style-img' %>
            <div class="modification-style-caption">
                <h4>EXO-SKELETON</h4>
            </div>
        <% end %>
    </div>
    
    <div class="col-md-3">
        <%= link_to modifications_path do %>
            <%= image_tag ("tattoos.jpg"), class:'modification-style-img' %>
            <div class="modification-style-caption">
                <h4>BODY BUILDING</h4>
            </div>
        <% end %>
    </div>
    
    <div class="col-md-3">
        <%= link_to modifications_path do %>
            <%= image_tag ("tattoos.jpg"), class:'modification-style-img' %>
            <div class="modification-style-caption">
                <h4>SCARIFICATION</h4>
            </div>
        <% end %>
    </div>
    
    <div class="col-md-3">
        <%= link_to modifications_path do %>
            <%= image_tag ("tattoos.jpg"), class:'modification-style-img' %>
            <div class="modification-style-caption">
                <h4>AMPUTATION</h4>
            </div>
        <% end %>
    </div>
    
    <div class="col-md-3">
        <%= link_to modifications_path do %>
            <%= image_tag ("tattoos.jpg"), class:'modification-style-img' %>
            <div class="modification-style-caption">
                <h4>SPLITTING</h4>
            </div>
        <% end %>
    </div>
    
    <div class="col-md-3">
        <%= link_to modifications_path do %>
            <%= image_tag ("tattoos.jpg"), class:'modification-style-img' %>
            <div class="modification-style-caption">
                <h4>OTHER</h4>
            </div>
        <% end %>
    </div>
</div>