<div class="row">
  <div class="col-lg-3">
    <div class="media text-center">
      
      <div class="media-body">
        <h4 class="media-heading"><%= modification.title %></h4>
        <!--<%= link_to 'Remove', modification_path(modification), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>-->
      </div>
      
      <div class="media-center">
        <%= link_to image_tag(modification.image.url, class: 'media-object img-circle',  width:'250', height:'250' ), modification.image.url, target: '_blank' %>
        <!--<%= link_to image_tag(modification.image.url(:thumb), class: 'media-object img-rounded'), modification.image.url, target: '_blank' %>-->
      </div>
  
    </div>
  </div>
</div>
