<!--Styles Dropdown-->
<div class="col-lg-4">
    <div class="btn-group">
        
      <button type="button" class="btn btn-lg btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        STYLES <span class="caret"></span>
      </button>
      
      <ul class="dropdown-menu">
        <a href="#" class="list-group-item text-center">Tattoo</a>
        <a href="#" class="list-group-item text-center">Piercing</a>
        <a href="#" class="list-group-item text-center">Cosmetic</a>
        <a href="#" class="list-group-item text-center">Laser</a>
        <a href="#" class="list-group-item text-center">Augmentation</a>
        <a href="#" class="list-group-item text-center">Stretching</a>
        <a href="#" class="list-group-item text-center">Scarification</a>
        <a href="#" class="list-group-item text-center">Splitting</a>
        <a href="#" class="list-group-item text-center">Exoskeleton</a>
        <a href="#" class="list-group-item text-center">Amputation</a>
        <a href="#" class="list-group-item text-center">Bodybuilding</a>
      </ul>
      
    </div>
</div>