<!--Title-->
<% provide(:title, 'Modifications') %>

<!--Header-->
<div class="jumbotron text-center">
    <h1>COLLECTION</h1>
    <h2>MODIFICATIONS</h2>
</div>

<!--Body-->
<!--Collection/Modifications-->
<div class="well">
    
    <!--Collection Navbar-->
    <%= render 'shared/collection_navbar' %>
    
    <hr />
 
    <!--Styles-->
    <%= render 'modifications/styles' %>
    
    <!--Uploader-->
    <div class="col-lg-4">
        <a><%= link_to "CONTRIBUTE", new_modification_path, class:'btn btn-info btn-lg btn-block' %></a>
    </div>
    
    <!--Random Content-->
    <div class="col-lg-4">
        <a><%= link_to "RANDOM", modifications_path, class:'btn btn-lg btn-block' %></a>
    </div>
    
    <hr />
    
    <!--Pagination-->
    <div class="row">
        <div class="text-center">
            <%= will_paginate %>
        </div>
    </div>
    
    <!--Modifications-->
    <%= render @modifications %>
    
    <!--Pagination-->
    <div class="row">
        <div class="text-center">
            <%= will_paginate %>
        </div>
    </div>
    
</div>

<!--Collection/Modifications Breadcrumb-->
<div class="text-center">
    <ol class="breadcrumb">
      <li><a><%= link_to 'MUTO', home_path %></a></li>
      <li><a><%= link_to 'Collection', collection_path %></a></li>
      <li class="active">Modifications</li>
    </ol>
</div>