<!--Title-->
<% provide(:title, 'Contribute') %>

<!--Header-->

<!--Body-->
<div class="container">
  <!--Display Contribution-->
  <div class="col-lg-6">
    <div class="panel panel-default">
      
      <div class="page-header text-center">
        <h2>MODIFICATION</h2>
        <h5>CONTRIBUTE</h5>
      </div>
      
      <%= form_for @modifications do |f| %>
      
      <%= render 'shared/errors', object: @modifications %>
    
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: 'Name your modification...' %>
      </div>
      
      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, class: 'form-control'%>
      </div>
        
      <!--Modification Preview & Edit Tool Bar (Crop, Re-size, filters, auto-adjust)-->
      <div class="panel panel-default text-center">
        <h4>Editing Toolbelt</h4>
        <hr />
        <br />
        <h3>Display Modification</h3>
        <br />
        <h5>HERE</h5>
        <br />
      </div>
        
      <div class="form-group">
        <%= f.label :video %>
        <%= f.file_field :video, class: 'form-control'%>
      </div>
        
      </br />
      
    </div>
  </div>
  
  <!--Add Contribution Details-->
  <div class="col-lg-6">
    <div class="panel panel-default">
      
      <div class="page-header text-center">
        <h2>MODIFICATION</h2>
        <h5>DETAILS</h5>
      </div>
        
      <div class="form-group">
        <%= f.label :Center %>
        <input type="text" class="form-control" aria-label="..." placeholder="Where did you recieve your modification?"></input>
      </div>
      
      <div class="form-group">
        <%= f.label :Technician %>
        <input type="text" class="form-control" aria-label="..." placeholder="Who performed your modification?"></input>
      </div>
      
      <div class="form-group">
        <%= f.label :Designer %>
        <input type="text" class="form-control" aria-label="..." placeholder="Who designed your modification?"></input>
      </div>
      
      <div class="form-group">
        <%= f.label :Styles %>
        <input type="text" class="form-control" aria-label="..." placeholder="What stlye is your modification?"></input>
      </div>
      
      <div class="form-group">
        <%= f.label :Categories %>
        <input type="text" class="form-control" aria-label="..." placeholder="Which category does your modification fit into?"></input>
      </div>
      
      <div class="form-group">
        <%= f.label :Sub_Categories %>
        <input type="text" class="form-control" aria-label="..." placeholder="Does your modification fit into a sub-category?"></input>
      </div>
      
      <div class="form-group">
        <%= f.label :Feedback %>
        <input type="text" class="form-control" aria-label="..." placeholder="Leave Feedback..."></input>
      </div>
      
    </div>
  </div>  
      
  <!--Submit Contribution-->
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">
      
      <!--Social Share-->
      <div class="text-center">
        <h5>SOCIAL CONNECT</h5>
        <h6>SHARE YOUR MODIFICATION</h6>
        <div class="btn-lg btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <%= link_to "", "#", class:'btn btn-lg fa fa-instagram' %>
          </div>
          <div class="btn-group" role="group">
            <%= link_to "", "#", class:'btn btn-lg fa fa-snapchat' %>
          </div>
          
          <div class="btn-group" role="group">
            <%= link_to "", "#", class:'btn btn-lg fa fa-twitter' %>
          </div>
          
          <div class="btn-group" role="group">
            <%= link_to "", "#", class:'btn btn-lg fa fa-google' %>
          </div>
          
          <div class="btn-group" role="group">
            <%= link_to "", "#", class:'btn btn-lg fa fa-pinterest-p' %>
          </div>
          
          <div class="btn-group" role="group">
            <%= link_to "", "#", class:'btn btn-lg fa fa-facebook' %>
          </div>
        </div>
      </div>
      
      <hr />
      
      <!--Submit Action-->
      <div class="actions text-center">
        <%= f.submit "CONTRIBUTE", class:'btn btn-primary btn-lg btn-block' %>
      </div>
      
    </div>
  </div>
  
      <% end %>
      
    </div>  
  </div>
</div>