<!--Collection Filter-->
<div class="row">
    <div class="col-lg-3 col-lg-offset-3">
        <%= render 'users/filter_membership' %>
    </div>
    
    <div class="col-lg-3">
        <%= render 'users/rating' %>
    </div>
</div>