<!--Membership Filter-->
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="btn-group">
            
            <button type="button" class="btn btn-lg btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Membership <span class="caret"></span>
            </button>
                  
            <ul class="dropdown-menu">
                <a href="#" class="list-group-item text-center">Overall</a>
                <a href="#" class="list-group-item text-center">Contributors</a>
                <a href="#" class="list-group-item text-center">Technicians</a>
                <a href="#" class="list-group-item text-center">Centers</a>
                <a href="#" class="list-group-item text-center">Affairs</a>
            </ul>
          
        </div>
    </div>
</div>