<% provide(:title, 'Home') %>
<% if current_user.profile %>
<% else %>
    <div class="col-md-4 col-md-offset-4">
        <div class=" well text-center">
            <%= link_to "CREATE PROFILE", new_user_profile_path(current_user), class:'btn btn-warning btn-lg btn-block' %>
        </div>
    </div>
<% end %>
<div class="container p-t-md text-center">
    <div class="row">
        <!--Avatar-->
        <div class="col-lg-3">
            <%= image_tag current_user.profile.avatar.url, class:'img-circle profile-avatar' %>
        </div>
        <!--Update/Notifications-->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="btn-lg btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-link fa fa-bell"> 
                            <span class="label label-primary">6</span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-link fa fa-user"> 
                            <span class="label label-warning">6</span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-link fa fa-bar-chart">  
                            <span class="label label-success">6</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <!--Contribute-->
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button ">
                            <a><%= link_to '', new_modification_path,  class:'fa fa-image' %></a>
                        </button>
                        <button class="btn btn-default" type="button ">
                            <a><%= link_to '', new_modification_path,  class:'fa fa-video-camera' %></a>
                        </button>
                    </span>
                    <input type="text" class="form-control" aria-label="..." placeholder=" Speak your mind <%= current_user.profile.first_name %>...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <a class="fa fa-paper-plane-o"></a>
                            </button>
                        </span>
                    </input>
                </div>
                <br />
                <!--User Contributions, Network, and Accolades-->
                <div class=" btn-lg btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-link fa fa-users"></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-link fa fa-male"></button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-link fa fa-diamond"></button>
                    </div>
                </div>
            </div>
        </div>
        <!--Sponsor-->
        <div class="col-lg-3">
            <div class="panel panel-default">
                <p>SPONSOR</p>
                <%= image_tag ("technician.jpg"), class: 'img-thumbnail', width:'245', height:'185' %>
            </div>
        </div>
    </div>
    
    <div class="row">
        <!--Profile-->
        <div class="col-lg-3">
            <div class="panel panel-default panel-profile m-b-md">
                <br />
                <h4><%= current_user.profile.first_name %> <%= current_user.profile.last_name %></h4>
                <h5><%= render 'profiles/current_user_membership' %></h5>
                <br />
                <h6>Modifications - <%= current_user.profile.modifications %></h6>
                <h6>Network - 13M</h6><br />
                <h6><%= current_user.profile.location %></h6><br />
                <h6><%= link_to current_user.profile.website %></h6>
                <h6><%= current_user.profile.bio %></h6>
            </div>
        </div>
        <!--Feed-->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <h3>STREAM</h3>
                <ul class="list-group">
                  <a href="#" class="list-group-item">Cras justo odio</a>
                  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                  <a href="#" class="list-group-item">Morbi leo risus</a>
                  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                  <a href="#" class="list-group-item">Vestibulum at eros</a>
                  <a href="#" class="list-group-item">Cras justo odio</a>
                </ul>
                <h5><%= link_to "View More", "#" %></h5>
            </div>
        </div>
        <!--Network-->
        <div class="col-lg-3">
            <div class="panel panel-default">
                <h3>NETWORK</h3>
                <h6>Recently Connected</h6>
                <ul class="avatar-list">
                  <ol class="avatar-list-item">
                    <%= image_tag current_user.profile.avatar.url, class:'img-circle', width:'60', height:'60' %>
                  </li>
                  <ol class="avatar-list-item">
                    <%= image_tag current_user.profile.avatar.url, class:'img-circle', width:'60', height:'60' %>
                  </ol>
                  <ol class="avatar-list-item">
                    <%= image_tag current_user.profile.avatar.url, class:'img-circle', width:'60', height:'60' %>
                  </ol>
                </ul>
                <h5><%= link_to "View More", "#" %></h5>
            </div>
        </div>
    </div>
    
    <div class="row">
        <!--Sponsor-->
        <div class="col-md-3">
            <div class="panel panel-default">
                <p>SPONSOR</p>
                <%= image_tag ("technician.jpg"), class: 'img-thumbnail', width:'245', height:'185' %>
            </div>
        </div>
        <!--Modifications-->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <h3>MODIFICATIONS</h3>
                <ul class="avatar-list">
                  <ol class="avatar-list-item">
                    <%= image_tag current_user.profile.avatar.url, class:'img-circle img-thumbnail', width:'60', height:'60' %>
                  </li>
                  <ol class="avatar-list-item">
                    <%= image_tag current_user.profile.avatar.url, class:'img-circle img-thumbnail', width:'60', height:'60' %>
                  </ol>
                  <ol class="avatar-list-item">
                    <%= image_tag current_user.profile.avatar.url, class:'img-circle img-thumbnail', width:'60', height:'60' %>
                  </ol>
                </ul>
                <h5><%= link_to "View More", "#" %></h5>
            </div>
        </div>
        <!--Affairs-->
        <div class="col-md-3">
            <div class="panel panel-default">
                <h3>AFFAIRS</h3>
                <h6>Attending</h6>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <h3>TIME</h3>
                <h6>Recently Learned</h6>
            </div>
        </div>
    </div>
</div>

<!--Collection/Modifications Breadcrumb-->
<div class="text-center">
    <ol class="breadcrumb">
      <li><a><%= link_to 'MUTO', home_path %></a></li>
      <li><a="active"><%= current_user.profile.first_name %> <%= current_user.profile.last_name %></a></li>
    </ol>
</div>
