<div class="btn-lg btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <%= link_to "", "#", class:'btn btn-lg fa fa-instagram' %>
  </div>
  <div class="btn-group" role="group">
    <%= link_to "", "#", class:'btn btn-lg fa fa-snapchat' %>
  </div>
  
  <div class="btn-group" role="group">
    <%= link_to "", "#", class:'btn btn-lg fa fa-twitter' %>
  </div>
  
  <div class="btn-group" role="group">
    <%= link_to "", "#", class:'btn btn-lg fa fa-google' %>
  </div>
  
  <div class="btn-group" role="group">
    <%= link_to "", "#", class:'btn btn-lg fa fa-pinterest-p' %>
  </div>
  
  <div class="btn-group" role="group">
    <%= link_to "", "#", class:'btn btn-lg fa fa-facebook' %>
  </div>
</div>