<!--Title-->
<% provide(:title, 'Collection') %>

<!--Header-->
<div class="jumbotron text-center">
    <h1>COLLECTION</h1>
    <h2>COMMUNITY</h2>
</div>

<!--Body-->
<!--Community Users-->
<div class="well">
    
    <!--Collection Navbar-->
    <%= render 'shared/collection_navbar' %>
    
    <hr />
    
    <!--User Filter-->
    <%= render 'users/filter' %>
    
    <!--Pagination-->
    <div class="row">
        <div class="text-center">
            <%= will_paginate %>
        </div>
    </div>
    
    <div class="row">
        <% @users.each do |user| %>
            <div class="col-md-2 text-center">
                <% if user.profile %>
                
                    <% if user.profile.avatar %>
                        <%= link_to user do %>
                            <%= image_tag user.profile.avatar.url, class:'img-circle profile-avatar-index',  width:'128', height:'128' %> <br>
                            <% if user.plan_id == 1 %>
                                <span class="label label-info">CONTRIBUTOR</span>
                            <% elsif user.plan_id == 2 %>
                                <span class="label label-warning">ELITE CONTRIBUTOR</span>
                            <% elsif user.plan_id == 3 %>
                                <span class="label label-info">TECHNICIAN</span>
                            <% elsif user.plan_id == 4 %>
                                <span class="label label-warning">ELITE TECHNICIAN</span>
                            <% elsif user.plan_id == 5 %>
                                <span class="label label-info">CENTER</span>
                            <% elsif user.plan_id == 6 %>
                                <span class="label label-warning">ELITE CENTER</span>
                            <% elsif user.plan_id == 7 %>
                                <span class="label label-info">AFFAIR</span>   
                            <% elsif user.plan_id == 8 %>
                                <span class="label label-warning">ELITE AFFAIR</span>
                        <% end %>
                    <% end %>
                    <br><%= user.profile.first_name %> <%= user.profile.last_name %></br></br>
                    <% end %>
                    
                <% end %>
            </div>
        <% end %>
    </div>
    <br />
    
    <!--Pagination-->
    <div class="row">
        <div class="text-center">
            <%= will_paginate %>
        </div>
    </div>
    
</div>

<!--Community Breadcrumb-->
<div class="text-center">
    <ol class="breadcrumb">
      <li><a><%= link_to 'MUTO', home_path %></a></li>
      <li><a><%= link_to 'Collection', collection_path %></a></li>
      <li class="active">Community</li>
    </ol>
</div>