<!--Title-->
<% provide(:title, @user.profile.first_name) %>

<!--Header-->

<!--Body-->
<div class="container">
    
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <%= image_tag @user.profile.avatar.url, class:'img-circle profile-avatar' %>
        </div>
    </div>
    
    <div class="well profile-header col-md-4">
        
        <div class="col-md-3">
            <li data-toggle="tooltip" data-placement="top" title="Connect" class="btn btn-link btn-lg">
                <%= link_to "", "#", class:'fa fa-plus' %>
            </li>
        </div>
        
        <div class="col-md-3 col-md-offset-6">
            <li data-toggle="tooltip" data-placement="top" title="Message" class="btn btn-link btn-lg">
                <%= link_to "", "#", class:'fa fa-envelope' %>
            </li>
        </div><br /><br /><br />
        
        <h3><%= @user.profile.first_name %> <%= @user.profile.last_name %></h3>
        
        <h5><%= render 'profiles/membership' %></h5>
        
        <br />
        
        <br />
        <h6><%= @user.profile.location %></h6>
        <br />
        <h6><%= @user.profile.website %></h6>
        
        <hr />
        
        <%= render 'users/social' %>
        
    </div>

    <!--Profile Secondary Info-->
    <div class="container">
        <div class="profile-info col-lg-8">
            <div class="well">
             
            <br />
         
            <div class="panel">
                <div class="text-center">
                    <h6><%= @user.profile.bio %></h6>
                </div>
            </div>
            
            <!--Collapsible Button Group -->
            <div class="panel panel-default">
                <div class="accordion" id="profileGroup">
                
                    <div class="col-md-4">
                        <button class="btn btn-link dropdown" data-toggle="collapse" data-target="#network" data-parent="#profileGroup">
                            <i class="fa fa-users"></i>
                        </button>
                    </div>
                    
                    <div class="col-md-4">
                        <button class="btn btn-link dropdown" data-toggle="collapse" data-target="#modifications" data-parent="#profileGroup">
                            <i class="fa fa-male"></i>
                        </button>
                    </div>
                    
                    <div class="col-md-4">
                        <button class="btn btn-link dropdown" data-toggle="collapse" data-target="#accolades" data-parent="#profileGroup">
                            <i class="fa fa-diamond"></i>
                        </button>
                    </div>
                
                    <br />
                    
                <!--Collapsed Data Group-->
                <div class="panel">
                    
                    <!--Collapsed Network-->
                    <div class="collapse indent" id="network">
                        <h3>NETWORK</h3>
                        <br />
                        
                        <ul class="nav nav-tabs nav-justified">
                          <li role="presentation"><a href="#">Contributors</a></li>
                          <li role="presentation"><a href="#">Technicians</a></li>
                          <li role="presentation"><a href="#">Centers</a></li>
                          <li role="presentation"><a href="#">Events</a></li>
                        </ul>
                        
                        <br />
                        
                        <ul class="media-list media-list-users list-group">
                          <li class="list-group-item">
                            <div class="media">
                              <a class="media-left" href="#">
                                <%= image_tag @user.profile.avatar.url(:thumb), class:'media-object img-circle' %>
                              </a>
                              <div class="media-body">
                                <button class="btn btn-primary-outline btn-sm pull-right">
                                  <span class="icon icon-add-user"></span> Follow
                                </button>
                                <strong>Jane Smith</strong>
                                <small>@jcs - San Francisco</small>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="media">
                              <a class="media-left" href="#">
                                <%= image_tag @user.profile.avatar.url(:thumb), class:'media-object img-circle' %>
                              </a>
                              <div class="media-body">
                                <button class="btn btn-primary-outline btn-sm pull-right">
                                  <span class="icon icon-add-user"></span> Follow
                                </button>
                                <strong>John Smith</strong>
                                <small>@jcs - Anywhere</small>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="media">
                              <a class="media-left" href="#">
                                <%= image_tag @user.profile.avatar.url(:thumb), class:'media-object img-circle' %>
                              </a>
                              <div class="media-body">
                                <button class="btn btn-primary-outline btn-sm pull-right">
                                  <span class="icon icon-add-user"></span> Follow
                                </button>
                                <strong>Nathaniel</strong>
                                <small>@njr - Charleston</small>
                              </div>
                            </div>
                          </li>
                        </ul>
                    </div>
                
                    <!--Collapsed Modification-->
                    <div class="collapse indent" id="modifications">
                        <h3>MODIFICATIONS</h3>
                        <h4><%= @user.profile.modifications %></h4>
                    </div>
        
                    <!--Collapsed Accolades-->
                    <div class="collapse" id="accolades">
                        <h3>ACCOLADES</h3>
                    </div>
                
                </div>
            </div>
        </div>
        
        <div class="panel">
            <h3>FEED</h3>
        </div>
        
    </div>            
</div>
