<!--Collection Navbar-->
<nav class="panel">
    <div class="container-fluid">
        <ul class="nav navbar-nav text-center">
            <!--Links-->
            <li role="presentation">
                <a href="/modifications" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-male" aria-hidden="true"></i> MODIFICATIONS
                </a>
            </li>
            
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-users" aria-hidden="true" data-toggle="tooltip" title="Community"></i> COMMUNITY
                </a>
                <ul class="dropdown-menu">
                    <a href="/users" class="list-group-item text-center">Overall</a>
                    <a href="#" class="list-group-item text-center">Contributors</a>
                    <a href="#" class="list-group-item text-center">Technicians</a>
                    <a href="#" class="list-group-item text-center">Centers</a>
                    <a href="#" class="list-group-item text-center">Events</a>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-line-chart" aria-hidden="true" data-toggle="tooltip" title="Leaderboard"></i> LEADERBOARD
                </a>
                <ul class="dropdown-menu">
                    <a href="/leaderboard" class="list-group-item text-center">Overall</a>
                    <a href="#" class="list-group-item text-center">New</a>
                    <a href="#" class="list-group-item text-center">Top Rated</a>
                    <a href="#" class="list-group-item text-center">Most Views</a>
                    <a href="#" class="list-group-item text-center">Highest Awards</a>
                    <a href="#" class="list-group-item text-center">Wild Card</a>
                </ul>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-diamond" aria-hidden="true" data-toggle="tooltip" title="Accolades"></i> ACCOLADES
                </a>
                <ul class="dropdown-menu">
                    <a href="/accolades" class="list-group-item text-center">Overall</a>
                    <a href="#" class="list-group-item text-center">Contributors</a>
                    <a href="#" class="list-group-item text-center">Technicians</a>
                    <a href="#" class="list-group-item text-center">Centers</a>
                    <a href="#" class="list-group-item text-center">Events</a>
                </ul>
            </li>
        </ul>
        
        <!--Community Search-->
        <div class="col-lg-4">
            <div class="nav navbar-form navbar-right" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="..." placeholder=" Explore Collection...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <a class="fa fa-search"></a>
                            </button>
                        </span>
                    </input>
                </div>
            </div>
        </div>
        
    </div>
</nav>