<!--Title-->
<% provide(:title, 'Affair') %>

<!--Jumbotron Heading-->
<div class="jumbotron">
    <h1 class="text-center">AFFAIR</h1>
</div>

<!--Affair Main-->
<div class="row">
        
    <div class="col-lg-4">
        <div class="panel panel-default">
            <h2 class="text-center">TOP AFFAIRs</h2>
            
            <hr />
            
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">MUTO Affair</h4><span class="badge">3,216</span>
                <p class="list-group-item-text">Charleston, South Carolina, USA</p>
                <h6>6/13/2016</h6>
              </a>
            </div>
            
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">MUTO Affair</h4><span class="badge">2,961</span>
                    <p class="list-group-item-text">Miami, Florida, USA</p>
                    <h6>6/13/2016</h6>
                </a>
            </div>
            
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">MUTO Affair</h4><span class="badge">2,341</span>
                <p class="list-group-item-text">New York City, New York, USD</p>
                <h6>6/13/2016</h6>
              </a>
            </div>
            
        </div>
    </div>
    
    <div class="col-lg-4">
        <div class="panel panel-default">
            <h2 class="text-center">UPCOMING</h2>
            <hr />
            
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">MUTO Affair</h4><span class="badge">327</span>
                <p class="list-group-item-text">Charleston, South Carolina</p>
                <h6>6/13/2016</h6>
              </a>
            </div>
            
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">MUTO Affair</h4><span class="badge">1,323</span>
                    <p class="list-group-item-text">Charleston, South Carolina</p>
                    <h6>6/13/2016</h6>
                </a>
            </div>
            
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">MUTO Affair</h4><span class="badge">487</span>
                <p class="list-group-item-text">Charleston, South Carolina</p>
                <h6>6/13/2016</h6>
              </a>
            </div>
            
        </div>
    </div>
    
    <div class="col-lg-4">
        <div class="panel panel-default">
            <h2 class="text-center">LOCAL</h2>
            
            <hr />
            
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">MUTO Affair</h4><span class="badge">327</span>
                <p class="list-group-item-text">Charleston, South Carolina</p>
                <h6>6/13/2016</h6>
              </a>
            </div>
            
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">MUTO Affair</h4><span class="badge">271</span>
                    <p class="list-group-item-text">Charleston, South Carolina</p>
                    <h6>6/13/2016</h6>
                </a>
            </div>
            
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">MUTO Affair</h4><span class="badge">487</span>
                <p class="list-group-item-text">Charleston, South Carolina</p>
                <h6>6/13/2016</h6>
              </a>
            </div>
            
        </div>
    </div>

</div>

<div class="row">
    
    <div class="col-lg-3">
        <div class="panel panel-default">
            <h4 class="text-center">MUTO AFFAIRS</h2>
            <hr />
            
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">MUTO Affair</h4><span class="badge">312</span>
                <p class="list-group-item-text">Charleston, South Carolina</p>
                <h6>6/13/2016</h6>
              </a>
            </div>
            
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">MUTO Affair</h4><span class="badge">271</span>
                    <p class="list-group-item-text">Charleston, South Carolina</p>
                    <h6>6/13/2016</h6>
                </a>
            </div>
            
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">MUTO Affair</h4><span class="badge">241</span>
                <p class="list-group-item-text">Charleston, South Carolina</p>
                <h6>6/13/2016</h6>
              </a>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6">
        <div class="panel panel-default">
            <h3 class="text-center">WORLD AFFAIRS MAP</h2>
        </div>
    </div>
    
    <div class="col-lg-3">
        <div class="panel panel-default">
            <h4 class="text-center">NETWORK AFFAIRS</h2>
            <hr />
            
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">MUTO Affair</h4><span class="badge">13</span>
                <p class="list-group-item-text">Charleston, South Carolina</p>
                <h6>6/13/2016</h6>
              </a>
            </div>
            
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">MUTO Affair</h4><span class="badge">7</span>
                    <p class="list-group-item-text">Charleston, South Carolina</p>
                    <h6>6/13/2016</h6>
                </a>
            </div>
            
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">MUTO Affair</h4><span class="badge">27</span>
                <p class="list-group-item-text">Charleston, South Carolina</p>
                <h6>6/13/2016</h6>
              </a>
            </div>
        </div>
    </div>
    
</div>

<!--Affair Breadcrumb-->
<div class="text-center">
    <ol class="breadcrumb">
      <li><a><%= link_to 'MUTO', root_path %></a></li>
      <li class="active">Affair</li>
    </ol>
</div>