<!--Title->
<% provide(:title, 'Body Modification') %>


<!--Body-->
<body class="landing">
    <div class="row">
        <div class="col-lg-3">
            <div class="landing-form">
                <div class="text-center">
                    <%= render 'shared/logo' %>
                        <h1>MUTO</h1>
                        <h6>BODY MODIFICATION</h6>
                    </div>
                </div>
                <hr />
                <div class="text-center">
                    <%= link_to "ENTER", new_user_session_path, class:'btn btn-lg btn-info btn-block', method: :get %>
                    <br />
                    <%= link_to "JOIN", home_path, class:'btn btn-md btn-success btn-block' %>
                    <br />
                    <br />
                    <%= link_to "About", "#", class:'btn btn-link' %> | 
                    <%= link_to "Help?", "#", class:'btn btn-link' %>
                </div>
            </div>
        </div>
    </div>
</body>
