<!--Title-->
<% provide(:title, 'Market') %>

<!--Header-->
<div class="jumbotron text-center">
    <h1>MARKET</h1>
</div>

<!--Community Breadcrumb-->
<div class="text-center">
    <ol class="breadcrumb">
      <li><a><%= link_to 'MUTO', root_path %></a></li>
      <li class="active">Market</li>
    </ol>
</div>