<!--Title-->
<% provide(:title, 'Past') %>

<!--Header-->

<!--Body-->
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>PAST</h1>
            <h2>BODY MODIFICATION</h2>
            <h3>HISTORY</h3>
        </div>
        <div style="display:inline-block;width:100%;overflow-y:auto;">
		<ul class="timeline timeline-horizontal">
			<li class="timeline-item">
				<div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">Ötzi the Iceman</h4>
						<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 3370 - 3100 BC</small></p>
					</div>
					<div class="timeline-body">
						<h6>Ötzi the Iceman</h6>
						<p>The oldest discovery of tattooed human skin to date is found on the body of Ötzi the Iceman, dating to between 3370 and 3100 BC.</p>
						<p><%= link_to "Read More", "#" %></p>
					</div>
				</div>
			</li>
			<li class="timeline-item">
				<div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">Mussum ipsum cacilds 2</h4>
						<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
					</div>
					<div class="timeline-body">
						<p>Mussum ipsum cacilds, vidis faiz elementum girarzis, nisi eros gostis.</p>
					</div>
				</div>
			</li>
			<li class="timeline-item">
				<div class="timeline-badge info"><i class="glyphicon glyphicon-check"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">Mussum ipsum cacilds 3</h4>
						<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
					</div>
					<div class="timeline-body">
						<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipisci. Mé faiz elementum girarzis, nisi eros gostis.</p>
					</div>
				</div>
			</li>
			<li class="timeline-item">
				<div class="timeline-badge danger"><i class="glyphicon glyphicon-check"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">Mussum ipsum cacilds 4</h4>
						<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
					</div>
					<div class="timeline-body">
						<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
					</div>
				</div>
			</li>
			<li class="timeline-item">
				<div class="timeline-badge warning"><i class="glyphicon glyphicon-check"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">Mussum ipsum cacilds 5</h4>
						<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
					</div>
					<div class="timeline-body">
						<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
					</div>
				</div>
			</li>
			<li class="timeline-item">
				<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">Mussum ipsum cacilds 6</h4>
						<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
					</div>
					<div class="timeline-body">
						<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
	</div>
</div>