<div class="row">
            <div class="col-lg-3">
                <div class="panel text-center">
                    <h4>JOINED ALREADY?</h4>
                    <br />
                    <%= link_to "ENTER", new_user_session_path, class:'btn btn-lg btn-info', method: :get %>
                </div>
            </div>
            <div class="col-lg-6 col-lg">
                <div class="panel text-center">
                    <h2>MUTO</h2>
                    <h3>Membership Plans</h3>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel text-center">
                    <h4>WHAT IS MUTO?</h4>
                    <br />
                    <%= link_to "ABOUT US", "#", class:'btn btn-lg btn-primary' %>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-3">
                <div class="well text-center">
                    
                    <!--Contributor-->
                    <h3>CONTRIBUTOR</h3><br />
                    
                    <%= image_tag ("contributor.jpg"), class: 'img-circle plan-image', width:'166', height:'166' %>
                   
                    <h5>BODY MODIFICATION</h5>
                    <h4>CLIENT</h4><hr />
                    
                    <button class="btn btn-info btn-block btn-lg" type="button" data-toggle="collapse" data-target="#collapseContributor" aria-expanded="false" aria-controls="collapseContributor">
                         CONTRIBUTOR
                    </button>
                    
                    <div class="collapse" id="collapseContributor"><br />
                        <div class="panel">
                            <%= link_to "REGISTER", new_user_registration_path(plan: @contributor_plan.id), class:'btn btn-info btn-block' %>
                            <h3>FREE</h3>
                            <hr>
                            <p>Discover Your Inner MUTO</p>
                            <p>Contribute & Explore MUTO's Collection</p>
                            <p>Discover Local & Distant Modification Talent </p>
                            <p>Browse all your modification needs in the Market</p>
                            <p>Join others in attendance to modification Affairs across the globe</p>
                        </div>
                    </div><br />
                    
                    <button class="btn btn-warning btn-block" type="button" data-toggle="collapse" data-target="#collapseEliteContributor" aria-expanded="false" aria-controls="collapseEliteContributor">
                         ELITE CONTRIBUTOR
                    </button>
                    
                    <div class="collapse" id="collapseEliteContributor"><br />
                        <div class="panel">
                            <%= link_to "REGISTER", new_user_registration_path(plan: @elitecontributor_plan.id), class:'btn btn-warning btn-block' %>
                            <h3>$1<h5>(monthly)</h5></h3><hr />
                            <p>Discover Your Inner MUTO</p>
                            <p>Recieve Exclusive Offers!</p>
                            <p>Contribute & Explore MUTO's Collection</p>
                            <p>Discover Local & Distant Modification Talent </p>
                            <p>Browse all your modification needs in the Market</p>
                            <p>Join others in attendance to modification Affairs across the globe</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <!--Technician-->
            <div class="col-lg-3">
                <div class="well text-center">
                    <h3>TECHNICIAN</h3><br />
                    
                    <%= image_tag ("technician.jpg"), class: 'img-circle plan-image', width:'166', height:'166' %>
                    
                    <h5>BODY MODIFICATION</h5>
                    <h4>PROFESSIONAL</h4><hr />
                    
                    <button class="btn btn-info btn-block btn-lg" type="button" data-toggle="collapse" data-target="#collapseTechnician" aria-expanded="false" aria-controls="collapseTechnician">
                         TECHNICIAN
                    </button>
                    
                    <div class="collapse" id="collapseTechnician"><br />
                        <div class="panel">
                            <%= link_to "REGISTER", new_user_registration_path(plan: @technician_plan.id), class:'btn btn-info btn-block' %>
                            <h3>FREE</h3>
                            <hr>
                            <p>Share your gift, modify the world!</p>
                            <p>Contribute & Explore MUTO's Collection</p>
                            <p>Discover Local & Distant Modification Talent </p>
                            <p>Browse all your modification needs in the Market</p>
                            <p>Join others in attendance to modification Affairs across the globe</p>
                        </div>
                    </div><br />
                    
                    <button class="btn btn-warning btn-block" type="button" data-toggle="collapse" data-target="#collapseEliteTechnician" aria-expanded="false" aria-controls="collapseInfo">
                         ELITE TECHNICIAN
                    </button>
                    
                    <div class="collapse" id="collapseEliteTechnician">
                        <br>
                        <div class="panel">
                            <%= link_to "REGISTER", new_user_registration_path(plan: @elitetechnician_plan.id), class:'btn btn-warning btn-block' %>
                            <h3>$6<h5>(monthly)</h5></h3>
                            <hr>
                            <p>Discover Your Inner MUTO</p>
                            <p>Recieve Exclusive Offers!</p>
                            <p>Contribute & Explore MUTO's Collection</p>
                            <p>Discover Local & Distant Modification Talent </p>
                            <p>Browse all your modification needs in the Market</p>
                            <p>Join others in attendance to modification Affairs across the globe</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <!--Center-->
            <div class="col-lg-3">
                <div class="well text-center">
                    <h3>CENTER</h3><br />
                    
                    <%= image_tag ("center.jpg"), class: 'img-circle plan-image', width:'166', height:'166' %>
                    
                    <h5>BODY MODIFICATION</h5>
                    <h4>BUSINESS</h4><hr />
                    
                    <button class="btn btn-info btn-block btn-lg" type="button" data-toggle="collapse" data-target="#collapseCenter" aria-expanded="false" aria-controls="collapseCenter">
                         CENTER
                    </button>
                    
                    <div class="collapse" id="collapseCenter"><br />
                        <div class="panel">
                            <%= link_to "REGISTER", new_user_registration_path(plan: @center_plan.id), class:'btn btn-info btn-block' %>
                            <h3>FREE</h3>
                            <hr>
                            <p>Share your gift, modify the world!</p>
                            <p>Contribute & Explore MUTO's Collection</p>
                            <p>Discover Local & Distant Modification Talent </p>
                            <p>Browse all your modification needs in the Market</p>
                            <p>Join others in attendance to modification Affairs across the globe</p>
                        </div>
                    </div><br />
                    
                    <button class="btn btn-warning btn-block" type="button" data-toggle="collapse" data-target="#collapseEliteCenter" aria-expanded="false" aria-controls="collapseEliteCenter">
                         ELITE CENTER
                    </button>
                    
                    <div class="collapse" id="collapseEliteCenter"><br />
                        <div class="panel">
                            <%= link_to "REGISTER", new_user_registration_path(plan: @elitecenter_plan.id), class:'btn btn-warning btn-block' %>
                            <h3>$23<h5>(monthly)</h5></h3>
                            <hr>
                            <p>Supporting Technicians across the globe</p>
                            <p>Recieve Exclusive Offers!</p>
                            <p>Contribute & Explore MUTO's Collection</p>
                            <p>Discover Local & Distant Modification Talent </p>
                            <p>Browse all your modification needs in the Market</p>
                            <p>Join others in attendance to modification Affairs across the globe</p>
                        </div>
                    </div>
                </div>
            </div>
           
            <!--Affair-->
            <div class="col-lg-3">
                <div class="well text-center">
                    <h3>AFFAIR</h3><br />
                    
                    <%= image_tag ("affair.jpg"), class: 'plan-image', width:'166', height:'166' %>
                    
                    <h5>BODY MODIFICATION</h5>
                    <h4>EVENT</h4>
                    <hr>
                    <button class="btn btn-info btn-block btn-lg" type="button" data-toggle="collapse" data-target="#collapseAffair" aria-expanded="false" aria-controls="collapseAffair">
                         AFFAIR
                    </button>
                    
                    <div class="collapse" id="collapseAffair"><br />
                        <div class="panel">
                            <%= link_to "REGISTER", new_user_registration_path(plan: @affair_plan.id), class:'btn btn-info btn-block' %>
                            <h3>FREE</h3>
                            <hr>
                            <p>Share your gift, modify the world!</p>
                            <p>Contribute & Explore MUTO's Collection</p>
                            <p>Discover Local & Distant Modification Talent </p>
                            <p>Browse all your modification needs in the Market</p>
                            <p>Join others in attendance to modification Affairs across the globe</p>
                        </div>
                    </div><br />
                    
                    <button class="btn btn-warning btn-block" type="button" data-toggle="collapse" data-target="#collapseEliteAffair" aria-expanded="false" aria-controls="collapseEliteAffair">
                         ELITE AFFAIR
                    </button>
                    
                    <div class="collapse" id="collapseEliteAffair"><br />
                        <div class="panel">
                            <%= link_to "REGISTER", new_user_registration_path(plan: @eliteaffair_plan.id), class:'btn btn-warning btn-block' %>
                            <h3>$49<h5>(annual)</h5></h3>
                            <hr>
                            <p>Supporting Technicians across the globe</p>
                            <p>Recieve Exclusive Offers!</p>
                            <p>Contribute & Explore MUTO's Collection</p>
                            <p>Discover Local & Distant Modification Talent </p>
                            <p>Browse all your modification needs in the Market</p>
                            <p>Join others in attendance to modification Affairs across the globe</p>
                        </div>
                    </div>
                </div>
            </div>