<!--Title-->
<% provide(:title, 'Pulse') %>

<!--Header-->
<div class="jumbotron text-center">
    <h1>PULSE</h1>
</div>

<!--Body-->
<div class="row text-center">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <h1>UPDATES</h1><hr />
            <ul class="media-list media-list-users list-group">
              <li class="list-group-item">
                <div class="media">
                  <a class="media-left" href="#">
                    <%= image_tag '', class:'media-object img-circle' %>
                  </a>
                  <div class="media-body">
                    <button class="btn btn-primary-outline btn-sm pull-right">
                      <span class="icon icon-add-user"></span> Follow
                    </button>
                    <strong>Jacob Thornton</strong>
                    <small>@fat - San Francisco</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <a class="media-left" href="#">
                    <%= image_tag '', class:'media-object img-circle' %>
                  </a>
                  <div class="media-body">
                    <button class="btn btn-primary-outline btn-sm pull-right">
                      <span class="icon icon-add-user"></span> Follow
                    </button>
                    <strong>Dave Gamache</strong>
                    <small>@dhg - Palo Alto</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <a class="media-left" href="#">
                   <%= image_tag '', class:'media-object img-circle' %>
                  </a>
                  <div class="media-body">
                    <button class="btn btn-primary-outline btn-sm pull-right">
                      <span class="icon icon-add-user"></span> Follow
                    </button>
                    <strong>Mark Otto</strong>
                    <small>@mdo - San Francisco</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <a class="media-left" href="#">
                   <%= image_tag '', class:'media-object img-circle' %>
                  </a>
                  <div class="media-body">
                    <button class="btn btn-primary-outline btn-sm pull-right">
                      <span class="icon icon-add-user"></span> Follow
                    </button>
                    <strong>Mark Otto</strong>
                    <small>@mdo - San Francisco</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <a class="media-left" href="#">
                   <%= image_tag '', class:'media-object img-circle' %>
                  </a>
                  <div class="media-body">
                    <button class="btn btn-primary-outline btn-sm pull-right">
                      <span class="icon icon-add-user"></span> Follow
                    </button>
                    <strong>Mark Otto</strong>
                    <small>@mdo - San Francisco</small>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media">
                  <a class="media-left" href="#">
                   <%= image_tag '', class:'media-object img-circle' %>
                  </a>
                  <div class="media-body">
                    <button class="btn btn-primary-outline btn-sm pull-right">
                      <span class="icon icon-add-user"></span> Follow
                    </button>
                    <strong>Mark Otto</strong>
                    <small>@mdo - San Francisco</small>
                  </div>
                </div>
              </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <h2><%= link_to 'POLL', '#', class:'h2' %></h2><hr />
            <h4>What is the best modification?</h4><br />
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox" aria-label="...">
              </span>
              <input type="text" class="form-control" aria-label="...">
            </div><br />
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox" aria-label="...">
              </span>
              <input type="text" class="form-control" aria-label="...">
            </div><br />
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox" aria-label="...">
              </span>
              <input type="text" class="form-control" aria-label="...">
            </div><br />
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox" aria-label="...">
              </span>
              <input type="text" class="form-control" aria-label="...">
            </div>
            <br />
            <p>Sponsored by <b>MUTO Charleston</b></p>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <h2><%= link_to 'AFFAIRS', '#', class:'h2' %></h2><hr />
            <h5>Advertisement</h5>
            <hr />
            <h6>(location + popular)</h6>
            <h4>Recently Added</h4>
            <ul class="list-group">
                <li class="list-group-item">First Affair Post</li>
                <li class="list-group-item">Second Affair Post</li>
                <li class="list-group-item">Third Affair Post</li>
                <li class="list-group-item">Third Affair Post</li>
                <li class="list-group-item">Third Affair Post</li>
            </ul>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <h2><%= link_to 'CAREERS', posts_path, class:'h2' %></h2><hr />
            <h5>Advertisement</h5>
            <hr />
            <h6>(location + popular)</h6>
            <h4>Recently Added</h4>
            <ul class="list-group">
              <li class="list-group-item">First Career Post</li>
              <li class="list-group-item">Second Career Post</li>
              <li class="list-group-item">Third Career Post</li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <h2><%= link_to 'MARKET', '#', class:'h2' %></h2><hr />
            <h5>Advertisement</h5>
            <hr />
            <h6>(location + popular)</h6>
            <h4>Recently Added</h4>
            <ul class="list-group">
              <li class="list-group-item">First Career Post</li>
              <li class="list-group-item">Second Career Post</li>
              <li class="list-group-item">Third Career Post</li>
            </ul>
        </div>
    </div>
     <div class="col-lg-4">
        <div class="panel panel-default">
            <h2><%= link_to 'TIME', '#', class:'h2' %></h2><hr />
            <h4>RECENT</h4>
            <h5>(recent + popular)</h5>
            <ul class="list-group">
              <li class="list-group-item">First Career Post</li>
              <li class="list-group-item">Second Career Post</li>
              <li class="list-group-item">Third Career Post</li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <h2><%= link_to 'EDUCATION', '#', class:'h2' %></h2><hr />
            <h5>Advertisement</h5>
            <hr />
            <h6>(location + popular)</h6>
            <h4>Recently Added</h4>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <h2><%= link_to 'LAWS', '#', class:'h2' %></h2><hr />
        </div>
    </div>
</div>


<!--Community Breadcrumb-->
<div class="text-center">
    <ol class="breadcrumb">
      <li><a><%= link_to 'MUTO', root_path %></a></li>
      <li class="active">Pulse</li>
    </ol>
</div>