<!--Title-->
<% provide(:title, 'Time') %>

<!--Header-->
<div class="jumbotron text-center">
    <h1>TIME</h1>
</div>

<!--Body-->
<div class="row">
    <div class="col-lg-4">
        <br />
        <div class="panel panel-default text-center">
            <%= link_to past_path do %>
                <h3>PAST</h3>
                <br />
                <i class="fa fa-undo"></i>
                <hr />
                <%= image_tag ("affair.jpg"), class: 'plan-image', width:'200', height:'200' %>
            <% end %>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default text-center">
            <%= link_to present_path do %>
                <h3>PRESENT</h3>
                <br />
                <i class="fa fa-circle-o"></i>
                <hr />
                <%= image_tag ("affair.jpg"), class: 'plan-image', width:'200', height:'200' %>
            <% end %>
        </div>
    </div>
    <div class="col-lg-4">
        <br />
        <div class="panel panel-default text-center">
            <%= link_to future_path do %>
                <h3>FUTURE</h3>
                <br />
                <i class="fa fa-repeat"></i>
                <hr />
                <%= image_tag ("affair.jpg"), class: 'plan-image', width:'200', height:'200' %>
            <% end %>
        </div>
    </div>
</div>

<!--Time Breadcrumb-->
<div class="text-center">
    <ol class="breadcrumb">
      <li><a><%= link_to 'MUTO', root_path %></a></li>
      <li class="active">Time</li>
    </ol>
</div>