<div class="jumbotron text-center">
    <h1>Contact MUTO</h1>
</div>


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="well text-center">
            <%= form_for @contact do |f| %>
                <div class="form-group">    
                    <%= f.label :name %>
                    <%= f.text_field :name, class:'form-control' %>
                </div>
                    
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, class:'form-control' %>
                </div>
                    
                <div class="form-group">    
                    <%= f.label :comments %>
                    <%= f.text_area :comments, class:'form-control' %>
                </div>
                
                <%= f.submit 'Submit', class:'btn btn-primary' %>
            <% end %>
        </div>
    </div>
</div>