<!DOCTYPE>
<html>
    <head>
        
    </head>
    <body>
        <h2>New Contact Message!</h2>
        <hr>
        <p>MUTO has been contacted from <%= "#{@name}, #{@email}." %></p>
        <hr>
        <p>"<%= @body %>"</p>
        <hr>
        <h5>End of Message</h5>
    </body>
</html>