<!--Title-->
<% provide(:title, 'Enter') %>

<!--Header-->

<!--Body-->
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      
      <div class="text-center">    
          <%= render 'shared/logo' %>
      </div>
      
      <hr />
        
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "on", class:'form-control form-field text-center', placeholder:'Email' %>
          </div>

          <div class="field form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class:'form-control form-field text-center', placeholder:'Password' %>
          </div>
        
          <% if devise_mapping.rememberable? -%>
            <div class="field form-group text-left">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        
          <br>
        
          <div class="actions text-center">
            <%= f.submit "ENTER", class:'btn btn-lg btn-info btn-block' %>
            <br />
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
        
    </div>
  </div>
</div>