<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :position %><br>
    <%= f.text_field :position, class:'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class:'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :center %><br>
    <%= f.text_field :center, class:'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :wage %><br>
    <%= f.number_field :wage, class:'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:'form-control' %>
  </div>
  <br>
  <div class="actions form-group text-center">
    <%= f.submit 'Add/Update Post', class:'btn btn-primary' %>
  </div>
<% end %>
