<div class="jumbotron text-center">
    <h1>Career Board</h1>
</div>
  
<div class="well">
    <div class="row text-center">
        <h2>Career Opportunity</h2>
        <h4>Edit Post</h4>
    </div>
    <hr>
    <%= render 'form' %>
    
    <hr>
    
    <div class="form-group text-center">
        <%= link_to 'Show', @post, class: 'btn btn-info' %> |
        <%= link_to 'Back', posts_path, class: 'btn btn-secondary' %>
    </div>
</div>