<p id="notice"><%= notice %></p>

  <div class="jumbotron text-center">
    <h1>Career Board</h1>
  </div>

  <div class="well">
      <div class="row">
        <div class="col-lg-2">
          <div class="text-center">
            <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
          </div>
        </div>
        <!--Career Search-->
        <div class="col-lg-6 col-lg-offset-1">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Careers...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
  </div>
    
  <hr>
  <!--Career Posts-->
  <div class="well">
    <br>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Position</th>
          <th>Date</th>
          <th>Location</th>
          <th>Center</th>
          <th>Wage</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.position %></td>
            <td><%= post.created_at.to_date %></td>
            <td><%= post.location %></td>
            <td><%= post.center %></td>
            <td><%= post.wage %></td>
            <td><%= post.description %></td>
            <td><%= link_to 'Show', post, class: 'btn btn-info' %></td>
            <td><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-warning' %></td>
            <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <hr>
    <nav class="text-center">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!--Career Breadcrumb-->
  <div class="text-center">
    <ol class="breadcrumb">
      <li><a><%= link_to 'MUTO', root_path %></a></li>
      <li><a><%= link_to 'Pulse', pulse_path %></a></li>
      <li class="active">Careers</li>
    </ol>
  </div>
  
</div>