<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            
            <div class="page-header text-center">
                <h4>Career Opportunity</h4>
                <h1>New Post</h1>
            </div>
            
            <%= render 'form' %>
            
            <br>
            
            <div class="form-group text-center">
                <%= link_to 'Back', posts_path %>
            </div>

        </div>
    </div>
</div>