<p id="notice"><%= notice %></p>

  <div class= "jumbotron text-center">
    <h1>Career Board</h1>
  </div>    
  
  <div class="well">
    
    <div class="row">
      <div class="text text-center">
        <h2>Career Opportunity</h2>
      </div>
    </div>
    
      <hr>
    
    <div class='row'>
      <div class="col-sm-4 col-sm-offset-1">
        <p>
          <strong>Position:</strong>
          <%= @post.position %>
        </p>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <p>
          <strong>Date:</strong>
          <%= @post.created_at.to_date %>
        </p>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <p>
          <strong>Location:</strong>
          <%= @post.location %>
        </p>
      </div>
      <div class="col-sm-4 col-sm-offset-1">    
        <p>
          <strong>Center:</strong>
          <%= @post.center %>
        </p>
      </div>
      <div class="col-sm-4 col-sm-offset-1">    
        <p>
          <strong>Wage:</strong>
          <%= @post.wage %>
        </p>
      </div>
      <div class="col-sm-4 col-sm-offset-1">    
        <p>
          <strong>Description:</strong>
          <%= @post.description %>
        </p>
      </div>
    </div>
    
    <br>
    
    <div class="form-group text-center">
      <%= link_to 'Edit', edit_post_path(@post), class:'btn btn-warning' %> |
      <%= link_to 'Back', posts_path, class: 'btn btn-secondary' %>
    </div>
  </div>