// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
    /* Gradiant Background - Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffe8+0,d6dbbf+100;Wax+3D+%231 */
    background: #feffe8; /* Old browsers */
    background: -moz-linear-gradient(top,  #feffe8 0%, #d6dbbf 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #feffe8 0%,#d6dbbf 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #feffe8 0%,#d6dbbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */
}

body {
    margin: 6px;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 18px;
}

@media (max-width: 979px) {
  body {
    padding-top: 93px;
  }
}

.dropdown-toggle {
    border-radius: 100%;
}

.dropdown-menu {
    border: 0px;
    border-radius: 15px;
    // Box Shadow from http://css3gen.com/box-shadow/
    -webkit-box-shadow: 0px 11px 29px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 11px 29px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 11px 29px 0px rgba(50, 50, 50, 0.75);
    min-width: 60px;
}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 21px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
    
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 22px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.dropdown-menu > ul {
    border-radius: 100%;
}

.dropdown-menu > li > a {
    display: block;
    padding: 13px 0px 13px 0px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #607D8B;
    white-space: nowrap;
    border-radius: 6px;
}

.fa{
    color: #607D8B;
}

.fa:hover{
    color: black;
    text-decoration: none;
}

.fa .fa-bar {
    color: #feffe8;
}

.form-field{
    // Box Shadow from http://css3gen.com/box-shadow/
    -webkit-box-shadow: inset 0px 0px 13px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    inset 0px 0px 13px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         inset 0px 0px 13px 0px rgba(50, 50, 50, 0.5);
}

.form-group{
    padding: 0px 20px 0px 20px;
}

.landing {
    background-image: image-url("landing-woman.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.landing-form {
  color: white;
  margin: 60px 0px 0px 0px;
}

.list-group-item{
    border: 0px;
    margin: 0px 0px 3px 0px;
}

.nav > li > a:hover, 
.nav > li > a:focus {
    background-color: transparent;
    color: #607D8B;
}

.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {
    background-color: transparent;
}

.navbar {
    background: rgba(25, 25, 25, .0);
    border: 0px;
}

.navbar-avatar {
    border: 2px solid white;
    border-radius: 100px;
    // Box Shadow from http://css3gen.com/box-shadow/
    -webkit-box-shadow: -4px 5px 23px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    -4px 5px 23px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         -4px 5px 23px 0px rgba(50, 50, 50, 0.5);
    height: 60px;
    width: 60px;
}

.navbar-default .navbar-nav {
    background: transparent;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a{
    color: #607D8B;
    margin: 0px 0px 0px 33px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    right: 15%;
    width: 0px
}

.navbar-toggle {
    border-radius: 50%;
}

.panel {
    padding: 9px;
    border-radius: 13px;
}

.plan-image {
    border: 2px solid white;
    border-radius: 100px;
    // Box Shadow from http://css3gen.com/box-shadow/
    -webkit-box-shadow: 0px 11px 29px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 11px 29px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 11px 29px 0px rgba(50, 50, 50, 0.75);
    margin: 15px 15px 40px 15px;
}

.well {
    // Box Shadow from http://css3gen.com/box-shadow/
    -webkit-box-shadow: inset 0px 1px 29px 0px rgba(50, 50, 50, 0.68);
    -moz-box-shadow:    inset 0px 1px 29px 0px rgba(50, 50, 50, 0.68);
    box-shadow:         inset 0px 1px 29px 0px rgba(50, 50, 50, 0.68);
    border: 2px solid white;
    border-radius: 15px;
    padding: 23px;
}
