
a {
  color: #607D8B;
  font-family: 'Raleway', sans-serif;
  font-size: 12.5px;
  letter-spacing: 2.5px;
  
  &:visited {
  
  }

  &:hover {
    color: #607D8B;
    background-color: none;
    text-decoration: none;
  }
}

.alert-notice {
    //Bootstrap alerts
    color: #607D8B;
    background-color: #B9F6CA;
    border-color: #faebcc;
}

.btn-block {
    font-family: 'Quicksand', sans-serif;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 3px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

.modification-style-caption {
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
    color: white;
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.modification-style-caption, h4 {
    font-family: 'Exo', sans-serif;
    font-size: 23px;
}

.modification-style-img {
    height: 150px;
    width: 100%;
    border: 2px solid white;
    border-radius: 6%;
    // Box Shadow from http://css3gen.com/box-shadow/
    -webkit-box-shadow: 0px 11px 29px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 11px 29px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 11px 29px 0px rgba(50, 50, 50, 0.75);
    margin: 0px 0px 35px 0px;
}

p, ol, ul, td {
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
