
.profile-avatar {
    border: 2px solid white;
    border-radius: 100px;
    // Box Shadow from http://css3gen.com/box-shadow/
    -webkit-box-shadow: 0px 11px 29px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 11px 29px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 11px 29px 0px rgba(50, 50, 50, 0.75);
    margin: 0px 0px -55px 0px;
    z-index: 1;
    position: relative;
    width: 185px;
    height: 185px;
}

.profile-avatar-index {
    border: 2px solid white;
    border-radius: 100px;
    // Box Shadow from http://css3gen.com/box-shadow/
    -webkit-box-shadow: 0px 11px 29px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 11px 29px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 11px 29px 0px rgba(50, 50, 50, 0.75);
    margin: 16px 0px 13px 0px;
}


.profile-header {
    text-align: center;
}

.profile-info {
    text-align: center;
}