<!--Footer-->
<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h5>© 2013-2016 MUTO</h5>
  </div>
    <div class="panel-body text-center">
      <a><%= link_to "About", '#', class:'btn btn-link' %></a>
      <a><%= link_to "Help", '#', class:'btn btn-link' %></a>
      <a><%= link_to "Contact", new_contact_path, class:'btn btn-link' %></a>
      <a><%= link_to "Advertise", '#', class:'btn btn-link' %></a>
      <a><%= link_to "Terms", '#', class:'btn btn-link' %></a>
      <a><%= link_to "Privacy", '#', class:'btn btn-link' %></a>
      <a><%= link_to "Cookies", '#', class:'btn btn-link' %></a>
      <a><%= link_to "Info", '#', class:'btn btn-link' %></a>
      <a><%= link_to "Brand", '#', class:'btn btn-link' %></a>
      <a><%= link_to "Forum", '#', class:'btn btn-link' %></a>
      <a><%= link_to "Status", '#', class:'btn btn-link' %></a>
      <a><%= link_to "Apps", '#', class:'btn btn-link' %></a>
      <a><%= link_to "Jobs", '#', class:'btn btn-link' %></a>
    </div>
</div>