<!--Header-->
<header>
  <nav class="navbar navbar-default navbar-static-top app-navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle navbar-action" data-toggle="collapse" data-target="#main-navbar-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="fa fa-navicon"></span>
        </button>
      </div>
      
      <!--Site Navigation-->
      <div class="collapse navbar-collapse text-center" id="main-navbar-collapse">
        <div class="nav navbar-nav navbar-left">
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= image_tag("navbar-logo-v1.png") %>
            </a>
            <ul class="dropdown-menu site-nav">
              <li><%= link_to "", pulse_path, class:'btn fa fa-heartbeat' %></li>
              <li><%= link_to "", users_path, class:'btn fa fa-eye' %></li>
              <li><%= link_to "", market_path, class:'btn fa fa-shopping-basket' %></li>
              <li><%= link_to "", affair_path, class:'btn fa fa-globe'  %></li>
              <li><%= link_to "", time_path, class:'btn fa fa-hourglass-start' %></li>
            </ul>
          </li>
        </div>
      
      <!--User Navigation-->
      <div class="collapse navbar-collapse text-center" id="main-navbar-collapse">
        <div class="nav navbar-nav navbar-right">
          <li role="presentation" class="dropdown">
            <% if user_signed_in? %>
              <% if current_user.profile %>
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <%= image_tag current_user.profile.avatar.url, class:'img-circle navbar-avatar' %>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "", home_path, class:'btn fa fa-home' %></li>
                  <li data-toggle="tooltip" data-placement="left" title="Profile"><%= link_to "", user_path(current_user), class:'text-center fa fa-male' %></li>
                  <li data-toggle="tooltip" data-placement="left" title="Modify Profile"><%= link_to "", edit_user_profile_path(current_user), class:'text-center fa fa-edit' %></li>
                  <li data-toggle="tooltip" data-placement="left" title="Notifications"><%= link_to "", "#", class:'text-center fa fa-bell' %></li>
                  <li data-toggle="tooltip" data-placement="left" title="Network"><%= link_to "", "#", class:'text-center fa fa-users' %></li>
                  <li data-toggle="tooltip" data-placement="left" title="Cart"><%= link_to "", "#" , class:'text-center fa fa-shopping-cart' %></li>
                  <li data-toggle="tooltip" data-placement="left" title="Settings"><%= link_to "", edit_user_registration_path, class:'text-center fa fa-cog' %></li>
                  <li data-toggle="tooltip" data-placement="left" title="Exit"><%= link_to "", destroy_user_session_path, class:'text-center fa fa-toggle-on', method: :delete %></li>
                </ul>
              <% else %>
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                  <li data-toggle="tooltip" data-placement="left" title="Exit"><%= link_to "", destroy_user_session_path, class:'text-center fa fa-toggle-on', method: :delete %></li>
                  <li data-toggle="tooltip" data-placement="left" title="CREATE PROFILE"><%= link_to "", new_user_profile_path(current_user), class:'text-center btn-warning fa fa-child' %></li>
                  <li data-toggle="tooltip" data-placement="left" title="Notifications"><%= link_to "", "#", class:'text-center fa fa-bell' %></li>
                  <li data-toggle="tooltip" data-placement="left" title="Network"><%= link_to "", "#", class:'text-center fa fa-users' %></li>
                  <li data-toggle="tooltip" data-placement="left" title="Cart"><%= link_to "", "#" , class:'text-center fa fa-shopping-cart' %></li>
                  <li data-toggle="tooltip" data-placement="left" title="Settings"><%= link_to "", edit_user_registration_path, class:'text-center fa fa-cog' %></li>
                </ul>
              <% end %>
            <% else %>
              
            <% end %>
          </li>
        </div>
      
    </div>
  </nav>
</header>