<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="MUTO Body Modification">
  <meta name="keywords" content="MUTO Body Modification">
  <meta name="author" content="Nathaniel Rand">
  
  <!--Title-->
  <title><%= full_title(yield(:title)) %></title>
  
  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Quicksand|Raleway:600|Exo:500" rel="stylesheet">
  
  <!--CSS/JavaScript-->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascript' %>
  <%= javascript_include_tag 'application' %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= csrf_meta_tags %>
</head>

<body>
  
<!--Navbar-->
<% if current_page?(root_path) %>
  <% else %>
    <%= render 'layouts/header' %>
<% end %>

<!--Alerts-->
<div class="container">
  <%  flash.each do |key,value| %>
    <%= content_tag :div, value, class:"alert alert-#{key} text-center"%>
  <% end %>
  <%= yield %>
</div>

<!--Footer-->
<% if current_page?(root_path) %>
  <% else %>
    <%= render 'layouts/footer' %>
<% end %>

<!--Javascript-->
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</body>
</html>